<h1>Books</h1>
<!--テーブル開始-->
<table>
<head>
    <tr>
        <th>title</th>
        <th>body</th>
    </tr>
</head>

<body>
<% @posts.each do |post| %>
    <tr>
        <td>
            <%= post.title %>
        </td>
        <td>
            <%= post.body %>
        </td>
        <td>
            <%= link_to "edit",edit_post_path(post.id)%>
            <%= link_to "show",post_path(post.id)%>
        </td>
    </tr>
<% end %>
</body>
</table>

<h1>New books</h1>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
<%= render 'layouts/error_messages', book: f.object %>
  
    <h4>title</h4>
    <%= f.text_field :title %>

    <h4>body</h4>
    <%= f.text_area :body %>


 
    <%= f.submit 'Create Book' %>
 
<% end %>